.copyride {
  margin-top: 15%;
  font-size: 10px;
  margin: auto;
}

.footer {
  margin-top: 2%;
  background-color: rgba(59, 52, 52, 0.527);
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  height: 20px;
}
